/**** COLORS ****/

$color-primary: #9d2a35; // burgundy
$color-secondary: #fffff7; // cream

$color-neutral: darken(#bbbbbb, 25%); // grey
// $color-neutral: #555;
$color-black: #000000;
$color-white: #ffffff;
