.contact {

  .container {
    padding: 5.5em 5em 5em 5em;
  }

  .container.in-view {

    .wpcf7 {
      animation: .75s ease-in .25s fadeInUp;
    }
  }

  .sub-heading {
    text-align: center;
    font-family: 'Droid Serif', serif;
    font-size: 1.5em;
    font-weight: 700;
    color: $color-main-heading;
    margin-bottom: 1.875rem;
  }

  .wpcf7 {
    lost-utility: clearfix;
    position: relative;
  }

  .form-left,
  .form-right {
    width: calc(100% * 1/2 - 1.5em);
  }

  .form-left {
    float: left;
    margin-right: 2.5em;
  }

  .form-right {
    float: right;
  }

  input,
  textarea {
    font-family: 'Droid Serif', serif;
    font-size: 1.125em;
  }

  input:not([type="submit"]),
  textarea {
    width: 100%;
    border: 1px solid $input-border;
    color: $color-text-gray;
    padding: 1.25rem 0 1.25rem 0.9375rem;

    &::placeholder {
      font-style: italic;
      opacity: 0.7;
    }
  }

  input:not([type="submit"]):not([type="tel"]) {
    margin-bottom: 2.812rem;
  }

  textarea {
    height: 12em;
    margin-bottom: 0.8rem;
  }

  input[type="submit"] {
    border: 2px solid transparent;
    background: $color-primary;
    color: $color-white;
    transition: all .2s ease;
    padding: 0.625rem 2.5rem;

    &:hover {
      border-color: $color-primary;
      background: $color-white;
      color: $color-primary;
    }
  }

  // invalid styles
  .wpcf7-not-valid-tip {
    display: none;
  }

  .wpcf7-not-valid {
    box-shadow: 0 0 0 2px #de8888;
  }

  .wpcf7-validation-errors {
    position: absolute;
    top: -2em;
    left: 0;
    padding: .25em;
    color: #fff;
    background: $color-error;
  }

  .your-email input.wpcf7-not-valid {

    &::before {
      content: 'Not a valid email address';
      display: block;
    }
  }

  // valid styles
  .wpcf7-mail-sent-ok {
    position: absolute;
    top: -2em;
    left: 0;
    padding: .25em;
    color: #fff;
    background: $color-success;
  }

  @media screen and (max-width: 700px) {
    .form-left,
    .form-right {
      width: 100%;
      float: none;
    }

    .form-left {
      margin-right: 0;
      margin-bottom: 2.812em;
    }

    input[type="submit"] {
      display: block;
      width: 100%;
      margin-top: 1.812rem;
    }
  }
}
