.button {
  display: inline-block;
  text-decoration: none;
  width: 10.3rem;
  line-height: 4.25rem;
  transition: all .2s ease;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
  }
}

.button-thin {
  line-height: 2.5rem;
  padding: 0;
}

.button-primary {
  color: $color-primary;
  border: 2px solid $color-primary;

  &:hover {
    background: $color-primary;
    color: $color-secondary;
  }
}

.button-secondary {
  color: $color-secondary;
  border: 2px solid $color-secondary;

  &:hover {
    background: $color-secondary;
    color: $color-primary;
  }
}
