.info {
  background: $primary-gradient;
  padding: 2.75em 0;

  .container {
    lost-utility: clearfix;
    max-width: 81.25em;
    margin: 0 auto;
  }

  .icon-box {
    lost-column: 1/3 3 5.9em;
    text-align: center;
    color: $color-secondary;

    display: flex;
    flex-direction: column;
    height: 24em;
    align-items: center;

    .icon {
      height: 5em;
      width: 5em;
      display: inline-block;
      background: pink;
      margin-bottom: 1.875em;
    }

    h2 {
      color: $color-secondary;
      margin: 0 0 2.5rem 0;
    }

    p {
      margin: 0 0 2.81rem 0;
    }

    .button {
      margin-top: auto;
    }
  }
}
