@import '../variables/_index';

body.admin-bar .site-header.home {
  height: calc(100vh - 6.5em);
}

.site-header.home {
  height: calc(100vh - 4.25em);

  & .hero {
    text-align: center;
    margin-top: 6.25em;

    & .intro-heading,,
    & .intro-subheading,
    & h1 {
      color: var(--colorWhite);
    }

    & .intro-heading {
      font-weight: 200;
      font-size: 3.3em;
      margin-bottom: 1rem;
    }

    & .intro-subheading {
      font-size: 2em;
      display: none;
    }

    & h1 {
      margin: 0 0 3.125rem 0;
      font-size: 3.43em;
    }

    & img {
      max-width: 54em;
      width: 100%;
      margin: 0 auto 3.43em auto;
    }

    & button {
      position: absolute;
      left: 50%;
      bottom: 7.37em;
      transform: translateX(-50%);

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: -.8em;
        left: 0;
        background: url(assets/icons/chevron-down.svg);
        background-size: 60%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &:hover::after {
        animation: 1s linear 0s infinite bounce;
      }
    }
  }

  @media screen and (max-width: 768px) {
    & .hero {
      & img {
        display: none;
      }

      & .intro-subheading {
        display: block;
      }
    }

    & .hero button::after {
      background-size: 40%;
    }
  }

  @media screen and (max-height: 750px) {
    & .hero img {
      display: none;
    }
  }

  @media screen and (max-height: 670px) {
    & .hero {
      margin-top: 1.25em;
    }
  }

  @media screen and (max-height: 840px) {
    & .hero button {
      display: none;
    }
  }
}

@media screen and (max-width: 400px) {
  .site-header.home .hero button {
    bottom: 2em;
  }
}
