@import '../variables/_colors';

.nav-placeholder {
    height: 100%;
    display: flex;
    justify-content: center;
    position: initial;
    min-height: 4em;

    & ul {
        list-style: none;
    }

    & a {
        &:hover {
            text-decoration: none;
        }
    }

    & .menu-toggle {
        position: relative;
        font-size: 1.5em;

        &::before {
            content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0ODAgNDgwIiBmaWxsPSIjMDAzYzY2Ij48cGF0aCBkPSJtMzcuNSAzNzUgNDA1IDAgMC00NS00MDUgMCAwIDQ1em0wLTExMi41IDQwNSAwIDAtNDUtNDA1IDAgMCA0NXpNMzcuNSAxMDVsMCA0NSA0MDUgMCAwLTQ1LTQwNSAweiIvPjwvc3ZnPg==);
            width: 1.5em;
            height: 1.5em;
            display: block;
            margin: 0 auto -.25em auto;
        }
    }

    & .menu-toggle_open {
        &::before {
            content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiMwMDNjNjYiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz48L3N2Zz4=);
        }
    }

    & .nav-menu {
        display: none;
    }

    & .nav-menu_open {
        display: block;
        padding: 1em;
        position: absolute;
        top: 14em;
        left: 0;
        width: 100%;
        z-index: 2;
        background: var(--colorPrimary);
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    }

    & .searchmodal__toggle {
        & svg {
            width: 1.75em;
            height: 1.75em;
            fill: var(--colorWhite);
        }
    }

    & li.depth-0 {
        cursor: pointer;
        font-family: 'Yanone Kaffeesatz', sans-serif;

        & a {
            position: relative;
            color: var(--colorWhite);
            font-size: 1.65em;
        }
    }

    & li.depth-0 + li.depth-0 {
        margin-top: 1em;
    }

    & li.depth-0.menu-item-has-children {
        & > a {
            display: block;
            pointer-events: none;
        }
    }

    & li.depth-0.open {
        & > a {
            color: var(--colorPrimaryLt);
        }
        
        & > .sub-menu_wrapper {
            display: block;
        }
    }

    & .sub-menu_wrapper {
        display: none;
    }

    & li.depth-1 {
        padding: 0 1em;
        margin-bottom: 1em;

        & > a {
            color: var(--colorWhite);
            font-size: 1.5rem;

            &:hover {
                color: var(--colorSecondary);
            }
        }
    }

    & li.depth-1.menu-title {
        & > a:hover {
            color: var(--colorWhite);
        }
    }

    & li.depth-2 {
        & a {
            color: var(--colorPrimaryLt);
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;

            &:hover {
                color: var(--colorSecondary);
            }
        }
    }

    & li.depth-2 + li.depth-2 {
        margin-top: .25em;
    }
}

/**
* Small to medium
*/
@media screen and (--breakpoint-lg) {
    .nav-placeholder {
        justify-content: flex-end;
        min-height: initial;

        & .menu-toggle {
            display: none;
        }

        & .nav-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        & .nav-menu_open {
            display: flex;
            z-index: initial;
            padding: 0;
            position: initial;
            top: initial;
            left: initial;
            background: initial;
            box-shadow: none;
        }

        & .searchmodal__toggle {
            & svg {
                fill: var(--colorPrimary);
            }
        }

        & li.depth-0 a {
            color: var(--colorPrimary);
        }

        & li.depth-0.open {
            & > a {
                &::after {
                    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjUuOTEgNzAuODMiPjx0aXRsZT5kb3duLWFycm93PC90aXRsZT48cGF0aCBkPSJNMi4zNCwxMy40MSw1Ny40Miw2OC40OWE3LjcyLDcuNzIsMCwwLDAsMTEuMDcsMGw1NS4wOS01NS4wOGE3LjU5LDcuNTksMCwwLDAsMi4zMy01LjU0LDcuNTcsNy41NywwLDAsMC0yLjMzLTUuNTNBNy41OCw3LjU4LDAsMCwwLDExOCwwSDcuODdBNy41Niw3LjU2LDAsMCwwLDIuMzQsMi4zNCw3LjU3LDcuNTcsMCwwLDAsMCw3Ljg3YTcuNTksNy41OSwwLDAsMCwyLjM0LDUuNTRabTAsMCIgc3R5bGU9ImZpbGw6IzJhODliZiIvPjwvc3ZnPg==);
                    position: absolute;
                    bottom: -1.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }

        & li.depth-0 + li.depth-0 {
            margin: 0 0 0 2.5em;
        }

        & .sub-menu_wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: rgba(40, 137, 191, 0.95);
            padding: calc(11px + 2em) 2em 1em 2em;

            & > .sub-menu {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                max-width: 85.5em;
                margin: 0 auto;
            }
        }

        & li.depth-1.menu-title {
            & > a:hover {
                color: var(--colorPrimary);
            }
        }

        & li.depth-2 {
            & a {
                color: var(--colorWhite);
            }
        }
    }
}


/**
* Medium to Desktop
*/
@media screen and (--breakpoint-xl) {
    .nav-placeholder {
        & .nav-menu {
            justify-content: flex-end;
        }

        & .sub-menu_wrapper {
            & > .sub-menu {
                justify-content: flex-end;
            }
        }

        & li.depth-1 {
            padding: 0
        }

        & li.depth-1 + li.depth-1 {
            margin-left: 7em;
        }
    }
}