@mixin mw-container($max-width) {
    max-width: $max-width;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

.mw-container-lg {
    @include mw-container(1390px);
}

.mw-container {
    @include mw-container(1305px);   
}

// .mw-container-sm {
//     @include mw-container();
// }