.sidebar {
    display: none;
}

@media screen and (min-width: 1250px) {
    .sidebar {
        display: block;
        max-width: 345px;
        width: 100%;
        max-height: 525px;
        margin-left: 65px;
        background-color: #eeebe7;
        box-shadow: 0 0 3px 1px rgba(30,30,30,.3);
        padding: 1em;

        &__title {
            margin: 0 0 1em 0;
        }

        &__parish-news {
            margin-bottom: 3em;
        }

        &__parish-news_list {
            padding-left: 1em;
        }

        &__parish-news_list-item + &__parish-news_list-item {
            margin-top: .5em;
        }

        &__parish-news_link {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1.09em;
            color: $color-font-base;

            &:hover {
                text-decoration: none;
            }
        }

        &__btns-link {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-primary;
            border-radius: 2px;
            color: $color-white;
            box-shadow: 0 0 8px 1px rgba(59, 59, 59, 0.2);
            padding: 0.75rem 1rem;
            font-weight: 600;
            font-size: 1.06em;
            letter-spacing: 0.03em;

            svg {
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
        }

        &__btns-link + &__btns-link {
            margin-top: 1.25em;
        }

        &__btns-link_title {
            color: $color-white;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0; 
        }
    }
}