.search-modal {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.97);
    padding: 0 2em;
}

.search-modal.active {
    opacity: 1;
    transition: opacity .3s ease;
    pointer-events: all;
}

.search-modal--button {
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: 1.2rem;
    padding: 0;
    width: 3em;
    height: 3em;

    &:focus {
        outline: 0;
    }

    &:hover {
        color: var(--colorPrimary);

        & svg {
            fill: var(--colorPrimary);
        }
    }
}

.search-wrap {
    max-width: 50em;
    width: 100%;

    & .search-form,
    & label,
    & .search-field {
        width: 100%;
    }

    & .search-form {
        position: relative;
        margin-bottom: .5em;
    }

    & .search-field {
        border: 2px solid var(--colorPrimaryLt);
        font-size: 3em;
        padding-left: .5em;
        min-width: 0;
        padding: 0 0 0 .5em;
        margin: 0 !important;
    }

    & .search-submit {
        height: 100%;
        width: 4em !important;
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        color: transparent;
        background-image: url('assets/icons/search.svg');
        background-position: center center;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 50%;
        border: transparent;

        &:hover {
            background-color: transparent;
            color: transparent;
        }

        &:focus {
            outline: 0;
        }
    }

    & .quick-links {
        display: flex;
        flex-direction: column;
    }

    & a {
        flex: 1;
        text-align: center;
        border: none;
        width: 100%;
    }

    & a + a {
        margin: .25em 0 0 0;
    }
}

@media screen and (--breakpoint-sm) {
    .search-modal--button {
        top: 2em;
        right: 4em;
    }

    .search-wrap {
        & .quick-links {
            flex-direction: row;
        }

        & a + a {
            margin: 0 0 0 .25em;
        }
    }
}