#myparishapp__root {
    margin-bottom: 2em;
}

.myparishapp__messages {
    margin: 0 !important;
    padding: 0 !important;
}

.myparishapp__messages-item {
    margin: 0 !important;
}

.myparishapp__control:hover,
.myparishapp__control:focus {
    background-color: transparent;
}