@import '../variables/_colors';

body.error404 {
  & .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
  }

  & .main > article {
    max-width: 77.8em;
    margin: 0 auto;
  }

  & .not-found {
    & p {
      font-weight: 500;
      font-size: 1.5em;
    }
  }
}
