body.error404 {
    .main {
        max-width: 1250px;
        margin: 0 auto;
        padding: 2em 1em;
        background-color: $color-white;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    }

    .not-found {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6em 1em;

        form {
            max-width: 25em;
            width: 100%;
        }

        input[type="submit"] {
            width: 100%;
        }
    }

    .not-found__message {
        font-size: 1.675em;
    }
}

@media screen and (min-width: 768px) {
    body.error404 {
        .main {
            padding: 80px 60px;
        }
    }
}