@import '../variables/_colors';

.site-footer {
  background: var(--colorPrimary);
  padding-top: 1.75em;
  padding-bottom: 0.5em;
  position: relative;

  & .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  & ul {
    list-style: none;
  }

  & li,
  & a,
  & p {
    color: var(--colorSecondary);
  }
}

.footer-links,
.footer-info,
.footer-map {
  flex-basis: 100%;
}

.footer-links a {
  display: block;
  margin: 0 auto;
  &:first-child {
    margin-bottom: 0.93rem;
  }
}

.footer-info {
  text-align: center;
  margin-top: 2em;
}

.office-hours {
  margin-bottom: 2.18em;
}

.footer-logo {
  display: none;
}

.site-info p {
  margin: 1.56em 0 0 0;
  text-align: center;
}

.footer-map {
  margin-top: 2em;
}

.iframe-container {
  width: 100%;
  height: 14.9em;

  & iframe {
    width: 100%;
    height: 100%;
  }
}

.return-button {
  position: absolute;
  top: 1em;
  right: 1.5em;
  border: 1px solid var(--colorSecondary);
  width: 2.5em;
  height: 1.75em;
  text-align: center;

  & span {
    vertical-align: -.4em;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-top: 2px solid var(--colorSecondary);
    border-left: 2px solid var(--colorSecondary);
    transform: rotate(45deg);
  }
}

.logo-placeholder {
  width: 12.5em;
  height: 6.875em;
  background-image: url(assets/images/footer-logo-01.svg);
  background-size: 100%;
}

@media screen and (--breakpoint-sm) {
  .footer-links,
  .footer-info {
    flex-basis: 50%
  }

  .footer-info {
    margin: 0;
    text-align: left;
  }
}

@media screen and (--breakpoint-xl) {
  .site-footer {
    & .row {
      flex-wrap: nowrap;
    }
  }

  .footer-links,
  .footer-info,
  .footer-map {
    flex-basis: auto;
  }

  .footer-map {
    margin-top: 0;
  }

  .iframe-container {
    width: 25em;
    height: 10.9em;
  }

  .return-button {
    top: initial;
    right: 2.5em;
    bottom: 3.4em;
  }
}

@media screen and (min-width: 1400px) {
  .footer-logo {
    display: block;
  }
}
