.giving-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}

.giving-intro__ {
    &image {
        width: 100%;
        max-width: 35em;
        height: 20.3125em;
        padding: 0.6875em;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 2em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &content {
        max-width: 70em;
    }
}

@media screen and (min-width: 31.25em) {
    .giving-intro {
        padding: 0 1em 4em 1em;
    }
}

@media screen and (min-width: 82.5em) {
    .giving-intro {
        flex-direction: row;
        justify-content: space-between;
    }

    .giving-intro__ {
        &image,
        &content {
            max-width: initial;
            width: initial;
        }

        &image {
            flex: 0 0 45%;
            margin-bottom: 0;
        }

        &content {
            flex: 0 0 50%;
        }
    }
}