.site-header__inner {
    position: absolute;
    z-index: 1;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    padding: 0 1em;
}

.header-inner__ {
    &logo {
        display: inline-block;
        min-width: 14em;
        width: calc((3 / 12) * 100%);
        height: 5.9375em;
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        margin-bottom: 2em;
    }

    &menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
    }

    &nav-placeholder {
        background-color: var(--color-primary);
        width: calc((9 / 12) * 100%);
        height: 4em;
    }
}

@media screen and (min-width: 48.875em) {
    .site-header__inner {
        top: 3em;
    }
}

@media screen and (min-width: 68.75em) {
    .site-header__inner {
        width: calc(100% - 2em);
        max-width: 78.125em;
    }

    .header-inner__ {
        &logo {
            margin: 0;
        }

        &menu-container {
            flex-direction: row;
            padding: 0;
        }
    }
}