.home-feeds {
    padding: 4.0625em 1em;
}

.home-feeds__ {
    &container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &title {
        font-family: var(--header-font-family);
        color: var(--color-primary);
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 1.875rem;
        text-align: center;
        line-height: 1;
    }
}

@media screen and (min-width: 73.125em) {
    .home-feeds__ {
        &container {
            flex-direction: row;
            align-items: initial;
            justify-content: space-between;
        }
    }
}